$body: #6c7b2a;
$road: #817f84;

body {
	background-color: $body;
	margin: 0;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
.car {
	position: absolute;
	transform: translateY(70vh);
	width: 80px;
}
.road {
	background-color: $road;
	width: 300px;
	height: 100vh;
}
.tree {
	z-index: 10;
	position: absolute;
}
.tree1 {
	transform: translate(-220px, -10vh);
	width: 200px;
}
.tree2 {
	transform: translate(-240px, 25vh);
	width: 250px;
}
.tree3 {
	transform: translate(-220px, 70vh);
	width: 180px;
}
.tree4 {
	transform: translate(220px, -5vh);
	width: 240px;
}
.tree5 {
	transform: translate(220px, 40vh);
	width: 200px;
}
.tree6 {
	transform: translate(220px, 80vh);
	width: 220px;
}

.speed {
	z-index: 100;
	position: fixed;
	left: 10px;
	top: 10px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: orange;
	background-color: #333;
}

.speed h2 {
	margin: 0;
	font-size: 24px;
	text-align: center;
}

.speed input {
	width: 60px;
	height: 50px;
	text-align: center;
	border: none;
	background-color: transparent;
	color: orange;
	font-size: 24px;
}
.btn {
	z-index: 100;
	position: fixed;
	right: 10px;
	top: 10px;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	transition: transform 0.3s ease;
	img {
		width: 60px;
		height: 60px;
	}
}

.btn:hover {
	transform: scale(1.2);
}

.play {
	display: none;
}

.arrow {
	position: absolute;
	width: 60px;
	transform: translate(20px, -400px);
}
.coin {
	position: absolute;
	width: 50px;
	transform: translate(0px, -100px);
}
.danger {
	position: absolute;
	width: 80px;
	transform: translate(-75px, -250px);
}
